.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    .import-btn {
        background-color: transparent;
        border-radius: .2rem;
        padding: .5rem 1rem;
        color: white;
        border: 1px solid rgb(200, 200, 200);
        transition-duration: 0.4s;

        &:hover {
            cursor: pointer;
            background-color: rgb(95, 95, 95);
        }
    }
}